---
import BaseLayout from "@/layouts/BaseLayout.astro";
import HorizontalCard from "@/components/HorizontalCard.astro";
---

<BaseLayout title="Projects" sideBarActiveItemID="services">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Services that I can Offer</div>
  </div>

  <HorizontalCard
    title="Full Stack Development"
    img="/services/full-stack.jpg"
    desc="I specialize in making UI which is functional and accessible in all devices. This is the complete suit all the way from scratch to deployment so that you focus on the actual progress"
    badge="Popular"
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Frontend Development"
    img="/services/frontend.png"
    desc="In a world filled with frontend developers offering services for dirt cheap, want I assure you from me is that your app will stand out from the others both in SEO and in the fine tuning of the last details which make or break the success of the product"
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Backend Development"
    img="/services/backend.jpeg"
    desc="I can provide you with a custom backend which is fast and take care of as many users as you wish and that you never ever worry about your backend"
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="No Code Application"
    img="/services/framer.webp"
    desc="Although I specialize in coding platforms, I realise that maintaining the code inhouse is not something everyone is capable of. That's why I offer to build you app using Framer which is assured to give you amazing UI and the ease to maintain both at once"
    url="#"
  />
</BaseLayout>
